@media only screen and (min-width: 0px) and (max-width: 500px){
    nav {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .banner-container{
        display: flex;
        flex-direction: column-reverse;
        margin-top: 50px;

        .banner-title {
            width: 100%;
            text-align: center;
        }
        .banner-image {
            width: 100%;
            display: flex;
            justify-content: center;
        }

}
@media only screen and (min-width:0px) and (max-width:500px){
    .post-container{
        display: flex;
        flex-direction: column;
    }
    .f-one{
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
    
}